.sales-data-container,.category-inventory-container{
    margin-left: 2rem !important;
}
.sales-data-heading{
    margin-left: 9rem !important;
}
.update-product-heading{
    margin-left: 7rem !important;
}