.min-vh-90 {
    min-height: 92vh;
}
.bg-photo {
    /* background: url('../../images/background.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.pointer {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}